  /******************************************
  /* CSS
  /*******************************************/

  /* Box Model Hack */
  *{
    box-sizing: border-box;
  }

  /******************************************
  /* LAYOUT
  /*******************************************/
  :root {
    --duck: #F9D624;
    --jaffa: #ed7745;
    --blueribbon: #0066ff; 
    --cobalt: #0146AD;
    --black: #222;
    --white: #fff;
    --light-black: rgb(65, 65, 65);
    --light-white: #ccc;
    --light-bg: #f5f5f5;
    --dark-bg: rgba(0, 0, 0, .7);
    --border: .1rem solid #aaa;
    --box-shadow: 1rem 1rem rgba(0, 0, 0, 0.767);
    /* --header-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.678); */
    --text-shadow: 0.2rem 0.2rem #222;
    --background: var(--white);
    --visibility: hidden;
    --paragraph: var(--black);
    --span: var(--black);
  }

  * {
    font-family: 'Manrope', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0.43, 1.1, 0.62, 1.08);
    background:var(--background);
    
  }

  *>.img {
    user-select: none;
    pointer-events: none;

  }

  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

  html::-webkit-scrollbar {
    width: 1rem;
  }

  html::-webkit-scrollbar-track {
    background: var(--white);
  }

  html::-webkit-scrollbar-thumb {
    background: var(--duck);
  }

  /* HEADER STYLE STARTS */
  .header {
    padding: 0.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--header-shadow);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    /* background: var(--light-black); */
    z-index: 1000;
    height: 7rem;
    width: 100%;
  }

  .header .logo {
    font-size: 4rem;
    font-weight: bolder;
    color: var(--black);
    text-shadow: none;
  }

  .header .logo img{
    height: 10%;
    width: 10%;
  }

  .header .logo i:hover {
    font-size: 5.5rem;
  }

  .header .navbar a , i {
    font-size: 3rem;
    margin-left: 2rem;
    color: var(--black);
    text-shadow: none;
    cursor: pointer;
  }

  .header .navbar a:hover, i:hover {
    color: var(--duck);
  }

  .navbar .toggle{
    display: none;
  }

  #menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    /* color: var(--duck);  */
    display: block;
    display: none;
  }

  .fa-bars{
    color: var(--black);
  }

  .fa-times{
    color: var(--duck)
  }

  /* HEADER STYLE ENDS */

  

  
  /* GENERAL BODY STYLE STARTS */
  body{
    /* overflow-x: hidden;   */
    height: 100%;
    width: 100%;

  }
  .projects{
    overflow-x: hidden;
  }

  h1{
    font-size: 5rem;
  }

  p{
    font-size: 3rem;
    padding: 0 5rem;
    
  }

  a{
    color: var(--duck);
    text-shadow: var(--text-shadow);
  }

  i {
    background: none;
    padding: 1rem;
    /* margin: 0 1rem 0 0;  */
  }

  i:hover{
    color:var(--blueribbon);
  }

  i.sun:hover{
    color: var(--duck);
  }

  button {
    background: rgba(0, 0, 0, 0.767);
    font-weight: 700;
    font-size: 3rem;
    /* padding: 1rem; */
    border-radius: 5px;
    margin: 4rem 1rem;
  }

  button span {
    display: block;
    background: var(--duck);
    padding: 1rem 3rem;
    border-radius: 5px;
    transform: translate3d(-0.7rem, -0.7rem, 0);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    color: var(--white);
  }

  button i{
    margin: 0;
  }

  button a{
    color: var(--white);
    font-family: 'Dosis', 'sans-serif';
  }

  button a:hover{
    color:var(--blueribbon);
  }

  button:hover span {
    transform: translate3d(-1rem, -1rem, 0);
  }
  /* GENERAL BODY STYLE ENDS */

  /* MAIN STYLE STARTS */
  .home{
    height: 100%;
  }
  
  .profile {
    text-align: center;
  }

  .profile img {
    margin-top: 3rem;
  }

  .profile .text{
    margin: 0 2rem;
  }

  h1 span:before {
    content: '';
    animation: animate 10s infinite;
  }

  .profile h1 a {
    color: var(--duck);
    text-shadow: 0.5rem 0.5rem #222;
  }


  @keyframes animate {
    0% {
      content: 'Hi';
    }

    20% {
      content: '你好';
    }

    40% {
      content: 'ਸਤ ਸ੍ਰੀ ਅਕਾਲ';
    }

    60% {
      content: '안녕하세요';
    }

    80% {
      content: 'こんにちは';
    }

    100% {
      content: 'Hi';
    }
  }

  .my-work{
    color: var(--cobalt);
    font-size: 5rem;
    margin-left: -150px;
  }


  .my-work, .arrow{
    display: flex;
    flex: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    /* background: var(--blueribbon) */
  }

  .arrow:hover{
    transform: scale(1.1)
  }

  .next-page{
    text-align: center;
    margin-top: 25rem;  
    grid-column: 3/4;
  }

  .wave{
    width: 100%;
    height: 100%;
    /* grid-column: 1/-1; */
    
  }

  .bottom{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
  }

  .grid{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 100%;
    margin: 0;
  }

  .image, .grid-content{
    grid-row: 1/-1;
  }
  .image{
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
  }

  .grid-content{
    grid-column: 4/8;
    align-self: center;
    grid-row: 5/6;
    text-align: center;
    font-size: 4rem;
    font-weight: 1000;
    color: var(--cobalt);
    display: flex;
    flex-direction: column;
  }

  /* .grid{
    display: flex;
    align-items: center;
    margin: 8rem;
    flex-direction: column;
    padding: 3rem;
  } */

  .grid-content:hover{
    letter-spacing: 0.5rem;
  }

  .grid a{
    grid-column: 4/8;
    grid-row: 6/7;
    color: var(--cobalt);
    font-size: 5rem;
    font-family: 'Dosis', 'sans-serif';
    margin: auto;
  }

  .grid a:hover{
    transform: scale(1.1);
  }
  /* MAIN STYLE ENDS */

  /* PROJECT STYLE STARTS */
  .grid-content, .image2{
    background: none;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }

  .fade-in.appear {
    opacity: 1;
  }

  .content{
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .project-content{
    display: flex;
    flex-direction: column;
  }

  .project{
    display: flex;
    flex-direction: row;
  }

  .project span{
    border: solid 1rem var(--duck);
  }


  .project img{
    padding: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
  }

  .project p{
    padding: 0; 
    color: var(--black);
    background: var(--white);
    border: solid 3px var(--dark-bg);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    width: 100%;
  }

  .project p span{
    color: var(--duck);
    border: none;
    background: none;
  }

  .project i:hover{
    color: var(--blueribbon);
  }

  .right, .left{
    padding: 0 5rem;
  }

  .left {
    transform: translateX(-50%);
  }

  .right {
    transform: translateX(50%);
  }

  .left,
  .right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
  }

  .left.appear,
  .right.appear {
    transform: translateX(0);
    opacity: 1;
  } 

  .sites {
    background: #000;
    font-weight: 700;
    font-size: 3rem;
    padding: 0;
    border-radius: 5px;
    margin: 10rem 1rem;
    width: 100%;
    height: auto;
  } 

  .sites span {
    display: block;
    padding: 1.5rem 2rem;
    background: var(--white);
    border-radius: 5px;
    transform: translate3d(-7px, -7px, 0);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }

  .sites:hover span {
    transform: translate3d(-12px, -12px, 0);
  }
  /* PROJECT STYLE ENDS */

  /* SERVICES STYLE STARTS */
  .services p {
    padding: 15rem;
    line-height: 5rem;
    text-align: center;
    /* object-fit: cover; */
    background: none;
    color: var(--paragraph);
    text-shadow: var(--header-shadow);

  }

  .services {
    background: url(blob-scatter.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    /* margin: 10rem; */
    display: flex;
    justify-content: center;
  }

  /* SERVICES STYLE ENDS */

  
  /* FORM STYLE STARTs */
  ::placeholder{
    color: var(--span);
  }
  .box *{
    background: none;
    font-size: 2rem;
    color:black;
  }

  .box {
    width: 650px;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 10rem 7rem 7rem 12rem;
    background: none;
    margin: auto;
    text-align: center;
  }

  .newform {
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .small {
    display: flex;
    justify-content:center;
    width: 100%;
  }

  .big{
    display: flex;
    justify-content: center;
  }

  .sm {
    width: 100%;
    height: 5rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: solid 3px var(--dark-bg);
    box-shadow: var(--box-shadow);
    padding: 0 1rem;

  }
  .name{
    width: 100%;
  }
  .biginput {
    width: 100%;
    height: 9rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: solid 3px var(--dark-bg);
    box-shadow: var(--box-shadow);
    padding: 2rem 1rem;
  
  }

  .submit{
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  .submit .btn{
    width: 30%;
    height: 5rem;
    /* border: 2px solid var(--white); */
    /* background: var(--jaffa); */
    color: var(--white);
    font-weight: lighter;
  }

  .submit button {
    background: rgba(0, 0, 0, 0.767);
    font-weight: 700;
    font-size: 3rem;
    padding: 0;
    border-radius: 5px;
    margin: 2rem 1rem;
  }

  .submit button span {
    display: block;
    background: var(--jaffa);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    transform: translate3d(-6px, -10px, 0);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    color: var(--white);
  }

  .submit button:hover span {
    transform: translate3d(-8px, -11px, 0);
  }

  .sm:hover, .biginput:hover {
    transform: translate3d(-10px, -12px, 0);
  }
  /* FORM STYLE ENDS */

  
  /* CONTACT STYLE STARTS */
  .contact img.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: auto;
    margin: auto;
  }

  .contact img.title {
    margin-top: 5rem;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 100%;
    margin: 0;
  }
  
  .box,
  .blobs {
    grid-row: 1/11;
  }
  
  .box{
    display: flex;
    flex-direction: row;
    grid-column: 3/9;
  }
  
  .blobs {
    display: flex;
    justify-content: center;
    grid-column: 1/11;
  }

  .socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    transform: scale(0.3);
  }

  .socials img:hover{
    transform: scale(0.8);
    display: flex;
    justify-content: space-evenly;
  }

  .back h1 a {
    margin: 0 0 0 15rem;
    font-size: 3rem;
  }

  .back h1 a:hover{
    color: var(--blueribbon);
  }
  
  /* CONTACT STYLE ENDS */

  /* FOOTER STARTS */
  .footer{
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    padding: 2rem;
  }

  .footer span{
    color: var(--dark-bg);
    font-size: 2rem;
  }
  /* FOOTER ENDS */











  /* MEDIA QUERIES */


  @media screen and (max-width: 1350px){
    .project{
      flex-direction: column;
      align-items: center;
    }

    .project-content{
      justify-content: center;
    }
    
    .content{
      padding: 0 5rem;
      margin: auto;
      width: 100%;
    }

    .project .sites{
      width: 100%;
    }

    .project .content{
      width: 100%;
    }
  }

  @media screen and (max-width: 1200px){
    #menu-btn {
      font-size: 3.5rem;
      display: inline-block;
  
    }
    #menu-btn .active {
      color:var(--duck)
    }
    
    .home .slide .content h3 {
      font-size: 15vw;
    }
  
    .fa-times {
      transform: rotate(90deg);
      
    }
    
    .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: var(--duck);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .header .navbar i {
      background: var(--duck);
    }
  
    .header .navbar a:hover {
      color: var(--white);
    }
  
    .header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar i.sun:hover{
      color: white;
    }
  }

  @media screen and (max-width: 991px) {
    html {
      font-size: 70%;
    }
    
    .project .sites{
      width: 100%;
    }

    .project .content{
      width: 100%;
    }

    .profile{
      padding: 3rem;
    }

    .profile img{
      height: 80%;
      width: 80%;
    }

    .sm, .biginput{
      width: 80%;
    }

    .big, .submit{
      display: inline;
    }

    .contact img{
      width: 95%;
    }
    
    #visual{
      width: 780;
      height: 803.75;
    }

    .grid-content{
    font-size: 3rem;
    }

    .box {
      grid-column: 2/10;
    }

    .services p {
      padding: 5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

    }

    .back h1 a {
      margin: 0 0 0 5rem;
    }
  }


  @media screen and (max-width: 750px){
    svg{
      /* display: none; */
      height: auto;
    }
    html {
      font-size: 50%;
    }

    .header{
      height: 10rem;
    }

    .grid a{
      grid-row: 7/8;
      margin:auto;
      display: flex;
      justify-content: center;
    }

    .grid a img{
      height: 80%;
      width: 80%; 
    }

    .content .right{
      padding: 0;
    }

    .box{
    grid-column:2/10;
    grid-row: 3;
    height: auto;
    width: auto;
    }

  }

  @media screen and (max-width: 530px){
    html{
      
      padding: auto;
      margin: auto;  
    }

    .home p{
      padding: 0; 
    }

    /* .content{
      padding: 0 3rem;
    } */

    /* .sites{
      margin:auto;
      padding: 1rem;
      width: 50%;
    } */

    .newform{
      padding: 3rem 0;
    }

    .box{
      grid-row: 3;
    }
  }

  @media screen and (max-width:450px){
    html{
      font-size: 40%;
    }

    .header {
      height: 15rem;
    }

    .header .logo {
      font-size: 7rem;
    }

    .header .navbar a,
    i {
      font-size: 5rem;
      line-height: 12rem;
    }

    #menu-btn {
      font-size: 5rem;
    }
  }

  @media screen and (max-width:390px) {
    html{
      font-size: 30%;
    }
    
    svg {
        display: none;
      }

    .grid a img{
      height: 60%;
      width: 60%;
    }

    .content{
      padding: 0 3rem;
    }
  }

  @media screen and (max-width: 195px){
    html{
      font-size: 10%;
    }

    .contact img.title{
      margin-top: 15rem;
    }

    .grid a img{
      width: 30%;
    }
  }

  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

  
 .darkmode{
    --background: var(--light-black);
    --header-shadow: 0; 
    --paragraph: var(--white);
    --span: var(--white);
 }



 

