/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
:root {
  --duck: #F9D624;
  --jaffa: #ed7745;
  --blueribbon: #0066ff; 
  --cobalt: #0146AD;
  --black: #222;
  --white: #fff;
  --light-black: rgb(65, 65, 65);
  --light-white: #ccc;
  --light-bg: #f5f5f5;
  --dark-bg: rgba(0, 0, 0, .7);
  --border: .1rem solid #aaa;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  --text-shadow: 5px 5px #222;
}

* {
  font-family: 'Inter', 'sans-serif';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.43, 1.1, 0.62, 1.08);
  background:rgb(65, 65, 65);
  
}

*>.img {
  user-select: none;
  pointer-events: none;

}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--white);
}

html::-webkit-scrollbar-thumb {
  background: var(--duck);
}

body{
  overflow-x: hidden;
}

.profile{
  text-align: center;
}

h1{
  font-size: 5rem;
}

p{
  font-size: 3rem;
  padding: 0 5rem;
  
}

h1 a {
  color: var(--duck);
  text-shadow: 5px 5px #222;
}

h1 span:before{
  content: '';
  animation: animate 10s infinite;
}

@keyframes animate{
  0%{
    content: 'Hi';
  }
  20%{
    content: '你好';
  }
  40%{
    content: 'ਸਤ ਸ੍ਰੀ ਅਕਾਲ';
  }
  60%{
    content: '안녕하세요';
  }
  80%{
    content: 'こんにちは';
  }
  100%{
    content:'Hi';
  }
}


/* button {
  margin: 2rem 0.5rem;
  background: var(--duck);
  box-shadow: 5px 5px #222;
  font-size: 3rem;
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 5px;
 } */

/* button a{
  color: var(--black);
} */

/* button:hover{
  transform: translate3d(-8px, -8px, 0)
} */

button {
  background: #000;
  font-weight: 700;
  font-size: 3rem;
  padding: 0;
  border-radius: 5px;
  margin: 2rem 1rem;
}

button span {
  display: block;
  background: var(--duck);
  padding: 1.5rem 2rem;
  border-radius: 5px;
  transform: translate3d(-4px, -4px, 0);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  color: var(--white);
}

button a{
  color: var(--white);
}

button:hover span {
  transform: translate3d(-8px, -8px, 0);
}

.my-work{
  color: var(--cobalt);
  font-size: 5rem;
  margin-left: -150px;
}


.my-work, .arrow{
  display: flex;
  flex: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  /* background: var(--blueribbon) */
}

.arrow:hover{
  transform: scale(1.1)
}

.next-page{
  text-align: center;
  margin-top: 25rem;  
  grid-column: 3/4;
}

.wave{
  width: 100%;
  height: 100%;
  /* grid-column: 1/-1; */
  
}

.bottom{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
}

.grid{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  width: 100%;
  margin: 0;
}

.image, .grid-content{
  grid-row: 1/6;
}
.image{
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
}

.grid-content{
  grid-column: 2/5;
  align-self: center;
  grid-row: 4/5;
  text-align: center;
  font-size: 4rem;
  font-weight: 1000;
  color: var(--cobalt);
  display: flex;
  flex-direction: column;
}

.grid-content:hover{
  letter-spacing: 0.5rem;
}

.grid a{
  grid-column: 2/5;
  grid-row: 5/6;
  margin: auto;
  color: var(--cobalt);
}

.grid a:hover{
  transform: scale(1.1);
}

.grid-content, .image2{
  background: var(--blueribbon);
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.project{
  display: flex;
  flex-direction: row;
  padding: 3rem 20rem;
  align-items: center;
}

.project-content img{
  z-index: 1;
}

.project img{
  /* border: solid 1rem var(--duck);
  box-shadow: 3px 3px 0 #222; */
  padding: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.project p{
  padding: 0; 
  color: var(--black);
}

.right, .left{
  padding: 0 5rem;
}

.left {
  transform: translateX(-50%);
}

.right {
  transform: translateX(50%);
}

.left,
.right {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.left.appear,
.right.appear {
  transform: translateX(0);
  opacity: 1;
} 

.sites {
  background: #000;
  font-weight: 700;
  font-size: 3rem;
  padding: 0;
  border-radius: 5px;
  margin: 2rem 1rem;
} 

.sites span {
  display: block;
  padding: 1.5rem 2rem;
  background: var(--white);
  border-radius: 5px;
  transform: translate3d(-7px, -7px, 0);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.sites:hover span {
  transform: translate3d(-12px, -12px, 0);
}

.connect  * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: auto;
  margin: auto;
}

.connect img.title{
  margin-top: 5rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

  